<link rel="stylesheet" type="text/css" href="/css/add_case_pg3_style.css">
<div class="container">  
  <div id="addcase">
    <h3><b>Further details</b></h3>
    <br>
    <form action="/client/add_case_pg3" method="POST">
      <fieldset>
        <b>Hearing date</b>:<input type="date" name="h_date"> 
      </fieldset>
     
      <b>Court Case Number(S-XXXX for Supreme Court and H-XXXX for High Court)</b>:   
      <br>
      <input type="text" name="court_case_no">
      <br>
      <b>Type Of Court</b>:
      <br>

      <input type="text" name="court_type">
      
    <table style="border-spacing: 20px;">
      <td>
      <fieldset>
        <button type="submit" >Done</button>
      </form>
      </fieldset>
      </td>
      <td>
      <fieldset>
        <form action="" method="">
          <button type="submit">Edit</button>
        </form>
      </fieldset>
    </td>
    
    </table>
  </div>
</div>