<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/HomePage.css">
    </head>
    <body>
        <div class="wrapper">
            <header id="cabecalho">
                <div class="container container-cabecalho">
                    <a href="#logo" id="logo">My Adalat</a>
                    <nav>
                        <ul id="menu">
                            <li><a href="#item">Home</a></li>
                            <li><a href="#item">About</a></li>
                            <li><a href="#item">Contact-us</a></li>
                            <li><a href="/home">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <section id="banner">
                <div class="container">
            
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="container-main">
                        <main>
                            <article>
                                <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                                <span>Publish: 07/01/2021</span>
                                <img src="https://images.unsplash.com/photo-1590099543482-3b3d3083a474?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhd3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto facere pariatur doloremque aliquid repudiandae, vel, itaque natus quae, sapiente ab blanditiis aut hic! Numquam culpa sed quibusdam maiores accusamus atque?</p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, enim! Explicabo magni cupiditate et, ad, veniam inventore dolorem magnam pariatur quibusdam fugiat aspernatur repellendus velit exercitationem possimus expedita similique? Est.</p>
                                <a href="#">Learn more..</a>
                            </article>
                            <article>
                                <h2>Lorem ipsum dolor sit amet tempor incididunt ut labore et dolore magna aliqua.</h2>
                                <span>Publish: 07/01/2021</span>
                                <img src="https://images.unsplash.com/photo-1590099543482-3b3d3083a474?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhd3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto facere pariatur doloremque aliquid repudiandae, vel, itaque natus quae, sapiente ab blanditiis aut hic! Numquam culpa sed quibusdam maiores accusamus atque?</p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, enim! Explicabo magni cupiditate et, ad, veniam inventore dolorem magnam pariatur quibusdam fugiat aspernatur repellendus velit exercitationem possimus expedita similique? Est.</p>
                                <a href="#">Learn more..</a>
                            </article>
                            <article>
                                <h2>Incididunt ut labore et dolore magna aliqua.</h2>
                                <span>Publish: 07/01/2021</span>
                                <img src="https://images.unsplash.com/photo-1590099543482-3b3d3083a474?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhd3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto facere pariatur doloremque aliquid repudiandae, vel, itaque natus quae, sapiente ab blanditiis aut hic! Numquam culpa sed quibusdam maiores accusamus atque?</p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, enim! Explicabo magni cupiditate et, ad, veniam inventore dolorem magnam pariatur quibusdam fugiat aspernatur repellendus velit exercitationem possimus expedita similique? Est.</p>
                                <a href="#">Learn more..</a>
                            </article>    
                        </main>
                        <aside>
                            <div class="aside-item" id="sobreMim">
                                <h2>About</h2>
                                <img src="https://images.unsplash.com/photo-1590099543482-3b3d3083a474?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhd3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="">
                                <h3>My Adalat</h3>
                                <p>An AI-powered legal solution optimizing case management, with AI-driven prioritization, secure registration, real-time communication, notifications, and a 24/7 legal chatbot, streamlining legal operations and reducing paperwork.</p>
                            </div>
                            <div class="aside-item">
                                <h2>Categories</h2>
                                <nav id="categorias-links">
                                    <ul>
                                        <li><a href="#categoria">Shikhar<span>42</span></a></li>
                                        <li><a href="#categoria">Prakhar<span>09</span></a></li>
                                        <li><a href="#categoria">Shivansh<span>15</span></a></li>
                                        <li><a href="#categoria">Mummy<span>23</span></a></li>
                                    </ul>
                                </nav>
                               
                            </div>
                            <div class="aside-item">
                                <h2>Popular Tags </h2>
                                <nav id="tags-popular">
                                    <a href="#tag">Tag</a>
                                    <a href="#tag">asdasd</a>
                                    <a href="#tag">Tasag</a>
                                    <a href="#tag">Tddadadag</a>
                                    <a href="#tag">Taaag</a>
                                    <a href="#tag">sdsd</a>
                                    <a href="#tag">sd</a>
                                    <a href="#tag">Tsdsssssaaag</a>
                                </nav>

                            </div>
                        </aside>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container">
                   <p><strong>Credits: <a href="#">BOMMER</a><strong></p>
                </div>
            </footer>
        </div>
    </body>
</html>