<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/HomePage.css">
</head>

<body>
    <div class="wrapper">
        <header id="cabecalho">
            <div class="container container-cabecalho">
                <a href="#logo" id="logo">My Adalat</a>
                <nav>
                    <ul id="menu">
                        <li><a href="#item">Home</a></li>
                        <li><a href="#item">About</a></li>
                        <li><a href="#item">Contact-us</a></li>
                        <li><a href="/home">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="banner">
            <div class="container">

            </div>
        </section>
        <section>
            <div class="container">
                <div class="container-main">
                    <main>
                        <article>
                            <h2>Take Your Legal Case Hearing to an Innovative Mode.</h2>
                            <span>Publish: 07/01/2021</span>
                            <img src="/images/Main_Img1.jpg" alt="">
                            <p> My Adalat is an AI-Powered Legal Solution Optimizing Case Management System, Automates
                                Case Hearing Scheduling, Optimize Court Resources , Reduce Delays in Case Hearings.
                            </p>
                            <p>Court Official Documents and Documents Submitted by Litigants can Switch from Paper
                                Signatures
                                to Efficient Digital Signing Simplifying processes and Definately Reduces Paperwork.
                                It will help to Automate the Process of Case Hearing to provide transparency of
                                Information access to
                                its stakeholders. A Solution to reduce Pendancy of Legal Cases. "Eliminating the Case
                                Hearing directly in the Court in front of Judge ."

                            </p>
                            <br>
                            <a href="#">Learn more..</a>
                        </article>
                        <article>
                            <h2>A Platform for Pre-Trial Conferencing of Legal Cases</h2>
                            <span>Publish: 07/01/2021</span>
                            <img src="/images/Main_Img2.avif" alt="">
                            <p> My Adalat is an User-Friendly, Web-Based System that helps you efficiently to manage
                                your
                                Case Hearing workflow .
                                It provide Secure Online Case Registration for Lawyers and Litigants, including
                                Specialized
                                support for Individuals with disabilities and Document Submissions.
                                It also provides Strong tools for tracking Case Progress, Accessing documents,
                                and Checking upcoming Case hearings .
                            </p>
                            <p> It enables Real-time Communication for all involved parties (Judges, Lawyers, Litigants)
                                and also ensure seamless and secure messaging .
                                This will captures all the entries of total cases registered by Litigants, which cases
                                are hired to Particular Lawyer and Judge.


                            </p>
                            <br>
                            <a href="#">Learn more..</a>
                        </article>
                        <article>
                            <h2>Add Efficiency to your Case Hearing workflow .
                            </h2>
                            <span>Publish: 07/01/2021</span>
                            <img src="/images/Main_Img3.jpg" alt="">
                            <p>It provide a 24/7 Legal Expert Chatbot named as "YAKSHA" to answer your Questions
                                and provide Advice.It provide Automated Notifications to alert stakeholders, including
                                attorneys, judges,Lawyers and parties involved,
                                about upcoming Case hearings and deadlines.

                            </p>
                            <p>It has Strong data encryption and security measures to protect sensitive case information
                                and to Store Data Securely.
                            </p>
                            <a href="#">Learn more..</a>
                        </article>
                    </main>
                    <aside>
                        <div class="aside-item" id="sobreMim">
                            <h2>About</h2>
                            <img src="/images/logo.jpeg" alt="">
                            <h3>My Adalat</h3>
                            <p>An AI-Powered legal Solution Optimizing Case Management, with AI-driven Prioritization,
                                Secure registration, Real-time communication, Notifications, and a 24/7 legal chatbot
                                "YAKSHA",
                                Streamlining Legal Operations and Reducing Paperwork.</p>
                        </div>
                        <div class="aside-item">
                            <h2>Categories</h2>
                            <nav id="categorias-links">
                                <ul>
                                    <li><a href="#categoria">Judges<span>20</span></a></li>
                                    <li><a href="#categoria">Lawyers<span>50</span></a></li>
                                    <li><a href="#categoria">Litigants<span>15</span></a></li>
                                    <li><a href="#categoria">More.<span>23</span></a></li>
                                </ul>
                            </nav>

                        </div>
                        <div class="aside-item">
                            <h2>Popular Tags </h2>
                            <nav id="tags-popular">
                                <a href="#tag">Legal</a>
                                <a href="#tag">Law</a>
                                <a href="#tag">Judge</a>
                                <a href="#tag">Lawyer</a>
                                <a href="#tag">attorneys</a>
                                <a href="#tag">Case</a>
                                <a href="#tag">Litigants</a>
                                <a href="#tag">Court</a>
                            </nav>

                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <p><strong>Credits: <a href="#">BOMMER</a><strong></p>
            </div>
        </footer>
    </div>
</body>

</html>